<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="inflyter_boutique_bundle_boutique_route_get_boutiques" controller="inflyter_boutique_bundle.boutique_controller::getBoutiquesAction" path="/rest/shop/boutiques" ></route>
	<route id="inflyter_boutique_bundle_boutique_route_index_test" controller="inflyter_boutique_bundle.boutique_controller::index" path="/test" ></route>
</routes>
